header {
    border: 4px black solid;
    height: 200px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

#shapes {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: start; 
    height: 100%;
    width: 100%;
    
}

#purple {
    background-color: rgb(128, 0, 113);
    height: 60%;
    width: 4%;
    margin-right: 5%;

}

#green {
    background-color: green;
    height: 100%;
    width: 37%;
    margin-right: 5%;
}

#blue {
    background-color: cadetblue;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

main {
    height: 250px;
    border: 4px dotted black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cream {
    height: 70%;
    width: 90%;
    background-color: palegoldenrod;
    box-shadow: 10px 10px 5px black;
    
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

#hello-friends {
    height: 100%;
    width: 50%;
    border: 1px solid gray;
    box-shadow: 3px 3px 5px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

p {
    color:rgb(40, 40, 94);
    text-align: center;
    font-size: 30px;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-weight: 550;

}