header {
    height: 100px;
    background-color: rgb(195, 195, 195);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
}

.blue-square {
    background-color: cornflowerblue;
    height: 60%;
    aspect-ratio: 1/1;
 }

.paragraphs {
    padding: 40px;
}

 .blue, .teal, .green, .lime {
    height: 190px;
 }

 .blue {
    background-color: rgb(90, 124, 225);
 }

 .teal {
    background-color:rgb(96, 199, 178);
 }

.green {
    background-color: lightgreen;
}

 .lime {
    background-color:rgb(249, 255, 86);
 }

 footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
 }

 .floating-button {
    height: 40px;
    width: 40px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 15px;
    position: fixed;
    bottom: 0;
    right: 0;
 }

 .question {
    color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
 }